*{box-sizing: border-box; padding: 0;margin: 0;}
body{background-color: white;}
.Photography{ text-align: center;color: black;margin-top: 2vw;}
.Photography h1{font-size: 4vw;}
hr{color: black;opacity: 1;}
