*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}
.box{
    width: 80vw;
    height: 30vw;
    margin: auto;
    background-image: url(nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5vw;
}