*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.box{
    width: 80vw;
    margin: auto;
    background-color: brown;
    height: 10vw;
    margin: 10vw;
}