*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}
.box{
    width: 80vw;
    height: 30vw;
    margin: auto;
    background-image: url(nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5vw;
}
.list-non-bullet {
    list-style: none;
}

.list-item-inline{
display: inline;
padding: 0rem 0.5rem;
}
.navigation{
    background-color:black;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 
    1rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .link{
    color: white;
}
.navigation .link-active{
    font-weight: bold;
}
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 00.5rem 1rem;
}
footer{
    background-color:black;
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    margin-top: 33rem;
    border-top-right-radius: 1rem;
    display: flex;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}
.c-list{
 text-align: left;  
 margin-left: 3vw; 
}
.icon-bar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 17vw;
    }
  
    .icon{
      color: white;
   width: 3vw;
   text-align: center;
   border-radius: 100%;
   border: 1px solid white;
    }
    .icon-a{
     display: block;
       }
       #icon-i{
       line-height: 3vw;
       }
    .icon:hover {
     cursor: pointer;
     color: hsl(300, 69%, 71%);
     border: 2px solid hsl(300, 69%, 71%);}